/* Estilo básico */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /*Cor Background Página*/
    color: #31312F; /*Cor Background texto*/
}

piscante {
    animation: blink 1s steps(1, end) infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Cabeçalho */
header {

    text-align: center;
    padding: 4em;
    background-color: #E2E3DD; /*Cor Background header*/
    border-bottom: 1px solid #c8c9c3; /*Cor borda header*/
}
header .Informacoes{
    display: flex;
    align-items: center;
}

header .ImagemContainer{
    flex: 0 0 auto;
    margin-right: 26px;
}
header .InfoContainer{
    flex: 1 1 auto;
    font-size: large;
}
header .InfoContainer p:last-child{
    line-height: 0;
}


header p{
    text-align: left;
}
header a{
    text-decoration: none;
    color:#2118a1; 
}

header a:hover{
    color:#7972e0 
}

header img {
    border-radius: 2%;
    width: 150px;
    height: 160px;
    object-fit:cover;
    object-position: 0 40%;
}

/* Navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #A09F8D; /*Cor Tabela navegação*/
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #181814; /*Cor Texto Navegação*/
}

/* Quando passar o cursor em cima dos elementos do nav */
nav ul li a:hover {
    background-color: #C5C5B9;
    color:#52524d;
}

/* Seções */
section {
    padding: 1em;
    margin: 2em 4em;
}

.container {
    background-color: #fff; /*Cor Fundo Container*/
    padding: 4%;

    border: 1px solid #ddd;
    margin: 1em 0;
}
.container h3{
    position: relative;
    bottom: 10px;
    padding-left: 10px;
    font-size:larger;
}
.container:hover{
    background-color: #f0f0f0;
}

.container > p {
    margin-left: 2%;
}
.container .ElementosContainer{
    line-height: 100%;
    font-size: small;
    margin-left: 4%;
}

/* Rodapé */
footer {
    background-color: #A09F8D;
    color: #31312F;
    text-align: center;
    padding: 2em 0;
    position: absolute;
    width: 100%;
    bottom: 1;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 1em;
}

footer ul li a {
    color: #31312F; /*Cor Link Redes sociais footer*/
    text-decoration: none;
}

footer ul li a:hover{
    color:#ebebe6 /*Cor Link Redes sociais footer HOVER*/
}



footer p {
    margin: 0;
}

/* Estilo Responsivo */
@media (max-width: 640px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    body{
        padding-top: 13em;
    }
    header .Informacoes{
        display:block;
    }

}
@media (min-width: 1200px){
    header{
        padding-left: 12%;
        padding-right: 12%;
    }
    section{
        margin-left: 10em;
        margin-right: 10em;
    }
    .containers{
        display: flex;
        padding-left: 5;
        padding:0;
        margin-left:5%;
        margin-right: 5%;
        justify-content: center;
    }
    .container{
        margin:10px;
        width: 400px;
        padding-top: 1.5%;
        padding-left: 1%;
        padding-right:2%;
        padding-bottom:1.5%;
    }
    .container > p {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .container .ElementosContainer{
        line-height: 100%;
        font-size: small;
        width: 80%;
        margin-left: 4%;
    }
    .container h3{
        width: 100%;
    }
    .container ul{
        padding-left: 30px;
    }

    #experiencia .container{
        width: 80%;
        margin:auto;
    }
    #experiencia .container > p{
        width: 95%;
    }
    
    

}